.contactMe {
  padding-bottom: 30rem;
  display: block;
  margin: 0 auto;
  ul li {
    text-align: center;
    padding-top: 2rem;
    text-transform: none;
    list-style-type: none;
  }
}

@media only screen and (max-device-width: 480px) {
  .contactMe {
    padding-right: 5rem;
    width: 40rem;
    padding-bottom: 30rem;
    display: block;
    margin: 0 auto;
    ul li {
      text-align: center;
      padding-top: 2rem;
      text-transform: none;
      list-style-type: none;
    }
  }
}
