.contact-wrapper{
  width: 100%;
  h1{
    text-align: center;
  }
  .first-last{
      width: 60%;
      margin: 0 auto;
      text-align: center;
  }
  .subject-message{ 
      margin: 0 auto;
      width: 60%;
  }
  .message{
      margin: 0 auto;
      width: 60%;
      textarea{
          width:100%;
          height:200px;
      }
  }
  button{
    width: 60%;
  }
}