.header-wrapper {
  
  table{

    background-color: white;
    border-collapse: collapse;
    tbody{
      
      tr{
        
        td{
          
          
          background-color: white;
          padding-right: 0 !important;
          margin-right: 0 !important;
          padding: 0;
          img{
            width:35rem;
            height:30rem;
            
            object-fit: contain;           
          }
          table {
            
            
            padding: 0;
            margin: 0;
            padding-left: 0rem;

            tbody{
              tr {
                
                td{
                  background-color: white;
                  .menuBars{
                    padding-left: 1rem;
                    margin-left: 0;
                  }
                  
                  padding: 0;
                  padding-left: 10rem;
                  padding-bottom: 4rem;
                  a {
                    color: black;
                    text-decoration: none;
                    font-size: 4rem;
                    width: 100rem !important;
                  }
                }
                .cartIcon{
                  width: 500rem !important;
                }
              }
            }
          }
        }
      }
    }
  }
}

.navMenu {
  z-index: 100;
  .navMenuItems {
    width: 100%;

    .navText {
      a {
        text-decoration: none;
        color: white;
        font-size: 1.8rem;
        width: 95%;
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0 16px;
        border-radius: 4px;
      }
    }
  }

  ul {
    padding: 0;
    list-style-type: none;
  }
  background-color: black;
  width: 25rem;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.navMenu.active {
  left: 0;
  transition: 250ms;
  height: 100%;

  .navMenuItems {
    width: 100%;
    span {
      margin-left: 1.6rem;
    }
  }
  .navBarToggle {
    background-color: black;
    width: 100%;
    height: 80px;
    display: flex;
    padding-left: 4rem;
    padding-top: 4rem;
    margin-bottom: 2rem;
    justify-content: right;
    align-items: right;
    font-size: 5rem;
  }

  .navText {
    ul {
      list-style: none;
    }
    color: white;
    display: flex;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
    cursor: pointer;
    padding-right: 1rem;
    a {
      text-decoration: none;
      color: white;
      font-size: 1.8rem;
      width: 95%;
      height: 100%;
      display: flex;
      align-items: center;
      padding: 0 16px;
      border-radius: 4px;
    }
    a:hover {
      background-color: blue;
      transition: 250ms;
    }
    .navText .signOut {
      background-color: blue;
    }
  }
}


// .navBar {
//   height: 25rem;
//   table.centerHead {
//     padding: 0;
//     tbody tr td{
//       margin-left: 0;
//       padding: 0;
//       width: 60rem;
//     }
//     tbody tr td table { 
//       border-bottom: 5px solid black;
//       padding-left: 0;
//       tbody {
        
//         tr {
//           padding: 5px 0px;
//           display: flex;
//           justify-content: space-between;
//           align-items: center;
//         td {
//           .aboutBen {
//             max-width: 15rem;
//             margin: 0 auto;
//           }
//           .menuBars {
//             max-width: 15rem;
//             float: Right;
//             font-size: 3rem;
//             margin-left: 2rem;
//             margin-top: 1rem;
//             background: none;
//             cursor: pointer;
//           }
//           .cart {
//             max-width: 15rem;
//             margin: 0 auto;
//             float: right;
//             padding-right: 5rem;
//             padding-top: 1.4rem;
//             font-size: 3rem;
//             vertical-align: middle;
//             text-decoration: none;
//             color: black;
//             vertical-align: top;
//           }
//         }
//         a {
//           text-decoration: none;
//           color: black;
//           font-size: 3.4rem;
//           height: 100%;
//           display: flex;
//           align-items: center;
//           border-radius: 4px;
//         }
//       }
//     }
//     }
//   }
//   }
//   .logo {
//     width: 35rem;
//     height: 25rem;
//     display: block;
//     margin-left: auto;
//     margin-right: auto;
//     border-bottom: 5px solid black;
//     border-right: 5px solid black;
//     padding: 0;
//     object-fit: contain;

//   }
  