.homepageWrapper {
  p {
    width: 100%;
    font-size: 3rem;
    background-color: white;
  }
  width: 60%;
  margin: 0 auto;
  table {
    width: 100%;
    tbody {
      .row1 {
        .imageOfBen {
          width: 100%;
          height: 30rem;
          .profileImage {
            margin: 0 auto;
            display: block;
            width: 40rem;
            height: 60rem;
            object-fit: contain;
          }
        }
      }
      .row2 {
        .carouselWrapper {
          width: 100%;
          .carousel {
            height: auto;
            margin: 0 auto;
            padding-bottom: 10rem;
            .carouselImage {
              border: 15px solid black;
              width: 100%;
              height: 50rem;
              object-fit: cover;
            }
          }
        }
      }
      .row3 {
        .contactMeHomepage {
          display: block;
          padding-bottom: 30rem;
          margin: 0 auto;
          ul {
            li {
              text-align: center;
              padding-top: 2rem;
              h1 {
                text-align: center;
                text-transform: none;
              }
              list-style-type: none;
            }
          }
        }
      }
    }
  }
  .galleryWord {
    text-align: center;
  }
}

@media only screen and (max-device-width: 480px) {
  p {
    width: 30rem;
    margin: 0 auto;
  }
  .homepageWrapper {
    margin: 0 auto;
    width: 60%;
    table tbody {
      .row1 {
        .imageOfBen {
          width: 100%;
          height: 30rem;
          .profileImage {
            margin: 0 auto;
            display: block;
            width: 40rem;
            height: 60rem;
            object-fit: contain;
          }
        }
      }
      .row2 {
        .carouselWrapper {
          width: 100%;
          .carousel {
            width: 100%;
            height: auto;
            margin: 0 auto;
            padding-bottom: 10rem;
            .carouselImage {
              width: 50rem;
              height: 50rem;
              object-fit: contain;
            }
          }
        }
      }
      .row3 {
        .contactMeHomepage {
          padding-bottom: 10rem;
          width: 60rem;
          ul {
            display: block;
            margin: 0 auto;
            text-align: center;
            li {
              padding-top: 2rem;
              h1 {
                text-align: center;
                text-transform: none;
              }
              list-style-type: none;
            }
          }
        }
      }
    }
  }
}
